<div id="scrolly-1">
  <div class="scroll-wrapper">
    <div class="scroll-inner">
      <div class="gv-ticker">
        <div class="gv-calendar">
          <div class="gv-ticker__day">Day 1</div>
          <div class="gv-ticker__date">31 Dec 2019</div>
        </div>
        <div>
          <div>Cases</div>
          <div class="gv-toll gv-ticker__cases"></div>
        </div>
        <div>
          <div>Deaths</div>
          <div class="gv-toll gv-ticker__deaths"></div>
        </div>
      </div>
      <div class='canvas-wrapper'><canvas></canvas></div>
      
    </div>
    <div class="scroll-text"></div>
  </div>
</div>
