// .content__headline {
//   font-weight: 700;
// }

// .content--interactive .content__headline,
// .headline {
//   @include fs-titlepiece(1);
//   font-size: 32px;
//   line-height: 36px;
//   font-weight: 700;

//   @include mq(tablet) {
//     font-size: 34px;
//     line-height: 38px;
//   }

//   @include mq(leftCol) {
//     font-size: 50px;
//     line-height: 50px;
//   }
//   @include mq(wide) {
//     font-size: 6vw;
//     line-height: 1;
//   }
// }

// .headline {
//   font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
//   padding-top: 0px;
// }

// .content__standfirst,
// .standfirst {
//   font-weight: 200;
//   line-height: 24px;
//   font-size: 18px;
//   margin-top: 24px;
//   max-width: 90%;
//   @include mq(mobileLandscape) {
//     max-width: 80%;
//   }
//   @include mq(tablet) {
//     max-width: 540px;
//   }
//   @include mq(desktop) {
//     font-size: 22px;
//     line-height: 26px;
//   }
// }

// .l-side-margins::before,
// .l-side-margins::after {
//   z-index: 9999;
// }

// .content__main,
// .content__head {
//   position: relative;
//   &:before {
//     position: absolute;
//     top: 0;
//     height: 100%;
//     min-height: 500px;
//     content: " ";
//     border-left: 1px solid #dcdcdc;
//     display: none;
//     @include mq(desktop) {
//       display: block;
//       left: calc(50% - 10px);
//     }

//     @include mq(leftCol) {
//       left: calc(50% - 10px);
//     }

//     @include mq(wide) {
//       left: calc(50% - 10px);
//     }
//   }

//   .byline {
//     border-top: none !important;
//     margin-top: 5px;
//   }
// }

// a,
// .u-fauxlink {
//   color: #c70000;
//   cursor: pointer;
//   text-decoration: none;
// }
// .tonal--tone-news .tone-colour {
//   color: #c70000;
// }

// .content__labels {
//   position: relative;
//   margin-bottom: 0px;
// }

.meta__numbers {
  @include mq(leftCol) {
    padding-right: 10px;
  }
}

// .content__labels,
// .content__headline,
// .content__standfirst {
//   @include mq(desktop) {
//     margin-left: 50%;
//   }
// }

// .content__main-column {
//   max-width: initial;
//   margin-right: 0;
//   margin-left: 0;
// }

// .content--interactive .content__meta-container {
//   @include mq(desktop) {
//     margin-left: calc(50% - 10px);
//     max-width: calc(50% + 30px);
//   }
// }

.element-atom,
.interactive-atom {
  margin: 0 !important;
}

.u-cf {
  .content__meta-container,
  .meta__extras {
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;

    @include mq(mobileLandscape) {
      margin-right: -20px;
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mq(desktop) {
      margin-right: -20px;
      margin-left: -20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq(leftCol) {
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 0px;
    }
  }
  .meta__extras {
    @include mq(desktop) {
      margin-left: -10px;
    }
  }
}

.content__meta-container {
  @include mq(desktop) {
    width: 960px !important;
  }
  @include mq(wide) {
    width: 1040px !important;
  }
}

.content--interactive .content__headline,
.headline {
  @include fs-titlepiece(1);
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  position: relative;

  @include mq(tablet) {
    font-size: 34px;
    line-height: 38px;
  }

  @include mq(leftCol) {
    font-size: 50px;
    line-height: 50px;
  }

  &::before {
    content: "";
    display: block;
    background-image: url("<%= path %>/assets/header-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 0px;
    height: 32vw;
    padding-top: 5px;
    margin-top: 10px;
    @include mq(tablet) {
      border-top: 0;
      height: 285px;
    }

    @include mq(desktop) {
      margin-left: -10px;
      width: 970px;
    }
    @include mq(wide) {
      width: 1050px;
    }
  }
  &::after {
    content: "";
    width: calc(100% + 20px);
    background-color: $neutral-86;
    position: absolute;
    height: 1px;
    top: calc(32vw + 18px);
    left: -10px;

    @include mq(mobileLandscape) {
      left: -20px;
      width: calc(100% + 40px);
    }

    @include mq(tablet) {
      top: 303px;
    }
    @include mq(desktop) {
      width: 980px;
    }
    @include mq(leftCol) {
      left: -10px;
      width: 970px;
    }
    @include mq(wide) {
      left: -10px;
      width: 1050px;
    }
  }
}

.headline {
  font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
  padding-top: 0px;
}

.content__standfirst,
.standfirst {
  font-weight: 200;
  line-height: 24px;
  font-size: 18px;
  margin-top: 24px;
  max-width: 90%;
  margin-bottom: 44px;
  @include mq(mobileLandscape) {
    max-width: 80%;
  }
  @include mq(tablet) {
    max-width: 540px;
  }
  @include mq(desktop) {
    font-size: 22px;
    line-height: 26px;
  }
}

.l-side-margins::before,
.l-side-margins::after {
  z-index: 9999;
}

.content__main,
.content__head {
  position: relative;

  &:before {
    position: absolute;
    top: 0;

    height: 100%;
    min-height: 500px;
    content: " ";
    border-left: 1px solid #dcdcdc;

    @include mq(leftCol) {
      left: calc((100% - 1140px) / 2 + 170px);
    }

    @include mq(wide) {
      left: calc((100% - 1300px) / 2 + 250px);
    }
  }

  .byline {
    border-top: none !important;
    margin-top: 5px;
  }
}

a,
.u-fauxlink {
  color: #c70000;
  cursor: pointer;
  text-decoration: none;
}
.tonal--tone-news .tone-colour {
  color: #c70000;
}

.content__meta-container {
  background-image: repeating-linear-gradient(
    to bottom,
    #dcdcdc,
    #dcdcdc 0.0625rem,
    transparent 0.0625rem,
    transparent 0.25rem
  );
  background-repeat: repeat-x;
  background-position: top;
  -webkit-background-size: 0.0625rem 0.8125rem;
  background-size: 0.0625rem 0.8125rem;
  padding-top: 12px;
  border-top: none;
}

.element--immersive {
  font-size: 17px;
}

// .content__main-column--interactive,
// .article .from-content-api {
//   & > p,
//   & > h2,
//   & > ul,
//   & > sub,
//   .element-atom,
//   .element-interactive,
//   .element-video {
//     max-width: 620px;

//     @include mq(leftCol) {
//       margin-left: 160px !important;
//     }
//     @include mq(wide) {
//       margin-left: 240px !important;
//     }
//   }

//   & > p {
//     font-size: 17px;
//     line-height: 24px;

//     strong,
//     b {
//       background-color: none;
//       box-shadow: none;
//       font-weight: bold;
//     }

//     sub {
//       bottom: 0px;
//       font-size: 100%;
//       font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
//       font-weight: 700;
//     }
//   }

//   & > h2 {
//     font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
//     // @include fs-titlepiece(2);
//     font-size: 28px;
//     line-height: 1.2;
//     font-weight: 700;
//     margin-top: 24px;
//     color: #333;
//     margin-top: 72px;
//     margin-bottom: 24px;

//     padding-left: 10px;
//     border-bottom: 1px solid #dcdcdc;
//     transform: translateX(-10px);
//     padding-bottom: 24px;
//     padding-right: 200px;
//     box-sizing: border-box;
//     max-width: 630px !important;
//     min-height: 124px;
//     display: block;

//     @include mq($until: tablet) {
//       min-height: auto;
//       padding-right: 0;
//       width: 100%;
//       border-bottom: 0;
//       margin-top: 1px;
//       margin-bottom: 0px;
//     }

//     @include mq($until: desktop) {
//       font-size: 24px;
//     }
//   }
// }

//   .element-atom {
//     margin-top: 36px !important;
//   }

// .element--immersive {
//     max-width: initial;
//     margin-bottom: 24px !important;
// font-size: 0;

//     @include mq(leftCol) {
//       width: 1140px;
//       margin-left: -20px !important;
//       margin-right: -20px;
//     }

//     @include mq(wide) {
//       width: 1300px;
//       margin-left: -20px !important;
//       margin-right: -20px;
//       // margin-left: -240px !important;
//     }

//     .ge-grid {
//       @include mq(leftCol) {
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     }
//   }

//   .element--showcase {
//     max-width: 860px;
//   }
// }

// .content--interactive:not(.paid-content) .element-interactive {
//   background-color: #fff;
// }
