.scroll-wrapper {
  @include mq(mobile) {
    border-bottom: none;
    margin-top: 24px;
  }

  @include mq(tablet) {
    width: 700px;
  }

  @include mq(desktop) {
    margin-top: 30px;
    width: 940px;
    padding-bottom: 160px;
    border-bottom: 1px solid #dcdcdc;
  }

  @include mq(leftCol) {
    width: 1100px;
  }
  @include mq(wide) {
    width: 1260px;
  }
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  position: relative;
  z-index: 100;
  //   border-top: 1px solid #dcdcdc;

  // margin-bottom: 36px;
  border-bottom: 1px solid #dcdcdc;

  &:before {
    content: "";
    border-top: 1px solid $neutral-86;
    width: calc(100% + 20px);
    z-index: 1000;
    position: absolute;
    left: -10px;

    @include mq(mobileLandscape) {
      width: calc(100% + 40px);
      left: -20px;
    }
  }
}

.scroll-inner {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: auto;
  max-height: 100vh;

  @include mq(mobile) {
      margin-left: -10px;
  }
  @include mq(desktop) {
      margin-left: 0;
  }

  &.fixed-top {
    position: fixed;
  }

  &.absolute-top {
    position: absolute;
  }

  &.absolute-bottom {
    position: absolute;
    top: auto;
    @include mq(tablet) {
      bottom: 0;
    }
  }

  svg {
    overflow: visible;
  }
  &:after {
    content: "";
    border-bottom: 1px solid $neutral-86;
    width: calc(100% + 20px);
    z-index: 1000;
    position: absolute;
    // bottom: 6px;
    left: -10px;

    @include mq(mobileLandscape) {
      width: calc(100% + 40px);
      left: -20px;
    }
    @include mq(desktop) {
      display: none;
    }
  }
}

.scroll-text {
  @include mq(mobile) {
    position: relative;
    top: 0;
    border-left: 1px solid #dcdcdc;
    pointer-events: none;
    z-index: -1;
    border-bottom: none;
  }

  @include mq(desktop) {
    height: 100%;
    border-bottom: 1px solid #dcdcdc;
    position: absolute;
    right: -20px;
    width: 37%;
    z-index: 1;
    // height: 100%;
  }
}

.scroll-text__inner {
  box-sizing: border-box;
  //   height: 35vh;
  position: relative;
  z-index: 100;

  .transparent-until-active & {
    opacity: 0.25;
    transition: opacity 0.5s ease-in-out;
  }

  &:first-of-type {
    .transparent-until-active & {
      opacity: 1;
    }
  }
}

.scroll-text__inner--half {
  height: 40px;
}

// .scroll-text__inner--half:last-of-type {
//     height: 50vh;
// }

.div-key {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.scroll-text__div {
  position: relative;
  max-width: 620px;
  height: 100%;
  // width: 100%;
  @include mq(desktop) {
    // width: 620px;
  }
  margin-left: 0px;
  padding: 6px 10px 0px;
  padding-top: 4px;
  padding-bottom: 0px;

  > p {
    margin-bottom: 32px;
    margin-left: 0 !important;
    max-width: auto;
    pointer-events: all;
    @include mq(desktop) {
      margin-bottom: 48px;
    }
  }

  h2 {
    @include fs-titlepiece(1);
    font-size: 24px;
    margin-left: 4px;
    margin-bottom: 0px;
    span:last-of-type {
      color: $news-red;
    }
  }

  .h2-key-date {
    font-size: 26px;
    // margin-bottom: 4px;

    @include mq(mobileMedium) {
      font-size: 28px;
    }

    @include mq(mobileLandscape) {
      font-size: 36px;
    }
    @include mq(desktop) {
      font-size: 38px;
    }
  }

  h3 {
    @include fs-headline(2);
    font-weight: bold;
    font-size: 20px;
  }

  h3:first-of-type {
    margin-bottom: 0;
  }

  h3:last-of-type {
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 12px;
  }

  .h3-key-date {
    font-size: 24px;
    line-height: 1;

    @include mq(mobileMedium) {
      font-size: 28px;
    }

    @include mq(mobileLandscape) {
      // font-size: 36px;
      line-height: 1.2;
    }
  }
}

.scroll-text__inner:first-of-type {
  .scroll-text__div {
    border-top: none;
  }
}

.date-bullet {
  position: absolute;
  background: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transform: translate(-19px, 75%);
  border: 1px solid $news-red;

  @include mq(desktop) {
    width: 20px;
    height: 20px;
    transform: translate(-22px, 50%);
  }
}

.date-bullet--small {
  height: 9px;
  width: 9px;
  transform: translate(-16px, 10px);
}

.date-bullet--full {
  background: $news-red;
  transition: 0.25s linear;
}

.ios, .android {
    .date-bullet--small {
        transform: translate(-15px, 10px);
    }
}

// #scrolly-1 {
//     @include mq(mobile) {
//         margin-bottom
//     }
// }
