@import "mq";
@import "fonts";
@import "palette";
@import "scrolly";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
  margin: 0 !important;
}

// .gs-container {
//   @include mq(desktop) {
//     padding-left: 0.14rem !important;
//     padding-right: 0.14rem !important;
//   }
// }

.interactive-wrapper {
  max-width: 100%;
}

.gv-ticker {
  @include mq(mobile) {
    background: #fff;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // max-width: 280px;
    // height: 60px;
    @include fs-textSans(3);

    & div {
      width: 50%;
    }

    & > div {
      padding-right: 24px;
      padding-left: 8px;
      border-left: 1px solid #dcdcdc;
    }

    & > div:first-of-type {
      border-left: none;
    }
  }

  @include mq(desktop) {
    max-width: 480px;
    margin-bottom: 24px;
    position: static;
    // height: 100px;
    // border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    @include fs-titlepiece(1);
    font-size: 32px;
  }
}

.gv-toll {
  @include mq(mobile) {
    @include fs-titlepiece(1);
    font-size: 32px;
    line-height: 24px;
    // font-size: 32px;
  }
}

.gv-ticker__cases {
  color: $feature-red;
}
.gv-ticker__recovered {
  color: $feature-blue;
}

canvas {
  @include mq(mobile) {
    position: relative;
    z-index: 9;
    left: -10px;
    background: #fff;
  }
  @include mq(desktop) {
    background: none;
  }
}
